.guardados-container {
  display: flex;
  align-items: center;
  text-align-last: start;
  flex-direction: column;
  align-content: space-between;
  filter: opacity(0.8);
  background-color: #909090;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 1px 50px 20px rgba(88, 193, 214, 0.55);
  text-align: center;
}

li {
  display: block;
}

.result-guardados {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
