.logo-home {
  width: 120%;
  display: contents;
  background-color: white;
}

.home-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  filter: opacity(0.8);
  background-color: #909090;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 1px 50px 20px rgba(88, 193, 214, 0.55);
  text-align: center;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: #36acd0;
  -webkit-text-stroke: rgb(48, 48, 50);
  -webkit-text-stroke-width: 1px;
  text-shadow: 6px 5px 10px;
  transition: all 0.5s ease-in-out;
  text-align: center;
  letter-spacing: 0.2em;
  animation: flicker 0.5s ease-in-out infinite alternate;
}

@keyframes flicker {
  0% {
    opacity: 0.5;
    text-shadow: 2px 2px 10px;
  }

  100% {
    opacity: 1;
    text-shadow: 2px 2px 20px;
  }
}
