body {
  font-family: Arial, sans-serif;
  background-image: url("./assets/fondo.jpg");
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: invert(1);
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: auto;
}

.App {
  filter: opacity(0.8);
  background-color: #909090;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 1px 50px 20px rgba(88, 193, 214, 0.55);
  text-align: center;
}

.form-container {
  width: 500px;
  margin: auto;
}

h1 {
  color: black;
}

h2 {
  display: none;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 70%;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ea9816;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  animation: animateBg 5s infinite;
}

@keyframes animateBg {
  100% {
    filter: hue-rotate(360deg);
  }
}

button:hover {
  background-color: #171515;
}

.results {
  margin-top: 40px;
}

.result-item:hover {
  background-color: #e0e0e0;
}

.details {
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 4px;
}

img {
  width: 30%;
  max-width: 100px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
